lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

audio/recordings
audio/tts

node_modules/*
!node_modules/jsdom/
!node_modules/jquery/
!node_modules/contextify/

